body {
  font-family: 'Poppins', sans-serif;
}

header {
  background: #03a9f4;
  border-bottom: #448aff 3px solid;
  height: 120px;
  width: 100%;
  padding-top: 30px;
}

.main-header {
  text-align: center;
  background-color: blue;
  height: 100px;
  width: 100%;
  margin: 0px;
}
#brandname {
  float: left;
  font-size: 30px;
  color: #fff;
  margin: 10px;
}

header h2 {
  text-align: center;
  color: #fff;
}

.btn-info:hover {
  background: #0b7dda;
}

/* .results {
  border-radius: 15px 50px;
  background: #345fe4;
  padding: 20px;
  width: 200px;
  height: 150px;
} */
