<!DOCTYPE html>
<html>
  <head>
    <title>Spam Detector App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
      <div class="container">
        <a class="navbar-brand" href="#">Spam Detector Messages</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link active me-3" aria-current="page" href="#">Home</a>
            <a class="nav-link active me-3" href="#">About</a>
            <a class="nav-link active me-3" href="#">Author</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <div id="brandname">Machine Learning App with Flask</div>
      <h2>Spam Detector Messages</h2>
      <form action="{{ url_for('predict')}}" method="POST">
        <!-- <input type="text" name="comment"/> -->
        <textarea name="message" rows="6" cols="50" placeholder="Enter Your Message Here..."></textarea>
        <br />
        <div class="results">
          {% if prediction == 1%}
          <p style="color: red; font-size: 14px; font-weight: bold">Spam</p>
          {% elif prediction == 0%}
          <p style="color: blue; font-size: 14px; font-weight: bold">Not a Spam (It is a Ham)</p>
          {% endif %}
        </div>
        <input type="submit" class="btn btn-primary" value="Predict" />
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>
